body {
  margin: auto;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfpIehx4cT82M_yxC-iplYKbD_ZtZre3aOupaQKbmfLvIIOUI7');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  cursor:url("/images/mousecursor.png"), default;
}

#learningPortal {
margin: 0 auto;
text-align: center;
color: #000033;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-decoration: none;
text-shadow: 3px 3px 4px yellow;
font-size: 40px;
}

#backgroundimg {
  height: 700px;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  background-image: url('/images/information.png');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  /*display: inline-block;*/
  /*-webkit-box-shadow: inset 10px 10px 300px 200px rgba(139,166,245,0.53);
  -moz-box-shadow: inset 10px 10px 300px 200px rgba(139,166,245,0.53);
  box-shadow: inset 10px 10px 300px 200px rgba(139,166,245,0.53);*/
  border-radius: 25px;
}

/*sliders in navbar*/
header{
  float: center;
  display:block;
  margin-left:18%;
   padding: 0;
   text-align: center;
  cursor:url("/images/mousecursor.png"), default;
font-family: 'Raleway', sans-serif;
}

.slidingdoors div{
  margin: auto;
  font-weight: bold;
  overflow: hidden;
  width: 200px;
  height: 100px;
  position: relative;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  transition: border .7s ease;
  border-radius: 25px;
  padding-top: 15px;
}

a {
  cursor: pointer;
  padding: 35px 10px 35px 10px;
  position:inherit;
}

.slidetop:hover{
  background-image: url('/images/grey.jpg');
    background-size: cover;

}

.slidebottom:hover{
  background-image: url('/images/grey.jpg');
  background-size: cover;
}

.slideleft:hover{
  background-image: url('/images/grey.jpg');
  background-size: cover;
}

.slideright:hover{
  background-image: url('/images/grey.jpg');
    background-size: cover;
}

a{
    text-decoration: none;
    color:#000033;
    text-shadow: 2px 2px 3px yellow;
    font-size: 40px;
    text-align: center;
}

/*outside border*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  position:fixed;
  width: 100%;
  max-width: 500%;
  border: 5px solid #333;
  /*border-top: none;*/
  text-align: center;
  margin: auto;
  margin-bottom: -15px;
}

.section {
  position: relative;
  margin-top: -10px;
  background-color: white;
  background-image: url('/images/daisies.jpg');
  /*background-repeat: no-repeat;
  background-position: center;*/
  display: inline-block;
  background-image: cover;
}

h1 {
  font-size: 50px;
  /*position: fixed;*/
  margin-bottom: 30%;
}
